:root {
    --primary: #f5edd3;
    --secondary: #7A5220;
    --text-color: #000;
    --text-color-secondary: #ffffff;

}

* {
  font-family: "ROBOTO";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


#description {
  height: 400px;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
  url("../img/Gionna\,\ realist.png");
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color-secondary);
}
#BEM-VINDO h1{
  color:var(--text-color-secondary)
}
#BEM-VINDO h1{
  font-size: 3em;
  margin-bottom:1em;
  max-width: 700px;
}
#subscription-form{
  background-color:var(--text-color);
  padding: 2em;
  max-width: 22%;
}
#subscription-form{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}
.form-group label{
  color: var(--text-color-secondary);
  margin-bottom: 0.3em;
  font-weight: bold;
}
.form-group input,
.form-group select{
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.btn{
  background-color: var(--primary);
  color: var(--text-color);
  text-transform:uppercase ;
  width: 100%;
  padding:12px;
  margin-top: 5%;
  border:none;
  padding: 12px ;
  cursor: pointer;
  opacity: 0.8;
}
.btn:hover {
  opacity:1 ;
}
#QUEM-SOMOS h2{
  display: flex;
  background-color: #f5edd3;
  text-align: center;
  font-size: 2.0em;
  padding: 2em ;
  font-weight: 700;
  align-items:center;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 4em;
}

.QUEM-SOMOS img{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 4em;
}

#RAZAO h3{
  display: flex;
  background-color: #f5edd3;
  text-align: center;
  font-size: 2.0em;
  padding: 2em;
  font-weight: 700;
  align-items: center;
  justify-content:space-between;
  gap: 5%;
  margin-bottom: 0em;
}
.RAZAO img{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  gap: 5%;
  margin-bottom: 4em;
}

img{
  width: 45%;
}

#textos{
  background-color: #f5edd3;
}
#footer{
  margin-top: 0%;
}

#rodape{
  background-color: #292827;
  text-align: center;
  color:var(--primary);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#rodape h3{
  font-size: 1.8em;
  margin-bottom: 1em;

}
#rodape p:nth-child(2) {
  margin-bottom: 1em;
  font-size: 1.2em;
}
#rodape span{
  font-weight: bold;
}

/* Mobile */
@media (max-width:450px) {

  #description {
    flex-direction: column;
    height: auto;
  }
  #BEM-VINDO {

    padding: 2em;

  }
  #BEM-VINDO h1{
    font-size: medium;
    margin-bottom: 0.5em;
  }
  #subscription-form{
    max-width: 70%;
    margin-bottom: 2em;
  }
  #QUEM-SOMOS{
    padding: 2em;
  }
  #QUEM-SOMOS h2{
    font-size: medium;
    margin-bottom: 0.5em;
    flex-direction: column;

  }
  
 #QUEM-SOMOS img{
  width: 100%;
  margin: 2em 0;

}
#RAZAO{
  padding: 2em;

}
#RAZAO h3{
  font-size: medium;
  margin-bottom: 0.5em;
  flex-direction: column;

}
#RAZAO img{
  width: 100%;
  margin: 2em 0;
}
}